<!doctype html>
<html ng-app="CodeClicker">
  <head>
    <script src="http://code.angularjs.org/1.2.1/angular.min.js"></script>
    <script src="codeclicker.js"></script>
  </head>
  <body>
    <div ng-controller="GameController">

      <form>
        <label for="console">click your code!</label>
        <input id="console" type="submit" value="code!" ng-click="codeclick()">
      </form>

      <div>Source lines of code: {{ lines_of_code }}</div>

      <div class="store" ng-controller="PowerUpsController">
        <ul>
          <li ng-repeat="powerup in powerups">
            <div>
              <span>{{ powerup.name }} ({{ powerup.price }}): {{ powerup.number }}</span>
              <input type="submit" value="buy" ng-click="buy(powerup.name)">
            </div>    
          </li>
        
      </div>

    </div>
  </body>
</html>
