<!doctype html>
<html ng-app="CodeClicker">
  <head>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="http://code.angularjs.org/1.2.1/angular.min.js"></script>
    <script src="./js/codeclicker.js"></script>
    <script src="./js/hacker_typer.js"></script>
    <link rel="stylesheet" type="text/css" href="./css/hacker_typer.css">
    <link rel="stylesheet" type="text/css" href="./css/styles.css">
  </head>
  <body>
    <div ng-controller="GameController">

      <form>
        <label for="console">click your code!</label>
        <input id="console_button" type="submit" value="code!">
        <span>lines per second: {{ lps }}</span>
      </form>

      <div>Source lines of code: {{ lines_of_code }}</div>

      <div class="store">
        <ul>
          <li ng-repeat="powerup in powerups">
            <div>
              <span>{{ powerup.name }}: {{ powerup.count }}</span>
              <input type="submit" value="buy one for {{ powerup.price }}" ng-click="buy(powerup.id)">
            </div>    
          </li>
        
      </div>

      <input id="asd" type='text' ng-keyup="codeclick()">
      <div id="console">
        Type here:
      </div>

    </div>
  </body>
</html>
